.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}

.hero-item {
  width: 50%;
}

p {
  margin: 5px 0;
}

body {
  font-size: 16px;
  line-height: 125%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 160%;
}

h1 {
  font-size: 200%;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 12px;
}