.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}

.hero-item {
  width: 50%;
  height: 40%;
}

body {
  font-size: 16px;
  line-height: 125%;
}

h2 {
  font-size: 160%;
}

h1 {
  font-size: 200%;
}