.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: #14213d;
}

.hero-item {
  width: 50%;
}

h2, h1, p {
  color: #fca311;
}

p {
  margin: 5px 0;
  color: #ffffff;
}

h3 {
  color: #e5e5e5;
}

body {
  font-size: 16px;
  line-height: 125%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

h2 {
  font-size: 160%;
}

h1 {
  font-size: 200%;
}

button {
  background-color: #fca311;
  color: #14213d;
  font-weight: bold;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-size: 100%;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #14213d;
  color: #fca311;
}



